CompileFlags:
  CompilationDatabase: build
  Add: [-std=c++17,
    -Wall,
    -Wextra,
    -Wno-c++98-compat,
    -Wno-c++98-compat-pedantic,
    -Wno-unused-function,
    -Wno-unused-template,
    -Wno-covered-switch-default,
    -m32]