CompileFlags:
  CompilationDatabase: build
  Add: [-std=c++17,
    -Wall,
    -Wextra,
    -Wno-c++98-compat,
    -Wno-c++98-compat-pedantic,
    -Wno-unused-function,
    -Wno-unused-template,
    -m32]
Diagnostics:
  Suppress: 'pp_including_mainfile_in_preamble'